<div class ="wrapper">
  <div class = "content-main">
<h1>Merry GriffMas</h1>
<h2>Griff is giving the gift of <em>software</em> to you</h2>
<p>
  WANT TO AUTOMATE SOMETHING IN YOUR LIFE?<br>
  GOT A GAME OR APP IDEA?<br>
  HAVE A PROBLEM?<br>
  NO REQUEST TOO BIG OR SMALL.<br>
  SEND YOUR REQUEST TO GRIFF TODAY!
</p>
  </div>
  <div class = "content-secondary">
<%= form_for(@request) do |f| %>
<%= f.label :name %>
<%= f.text_field :name%>
<%= f.label :email %>
<%= f.email_field :email %>
<%= f.label :platform, "Preferred Platform" %>
<%= f.text_field :platform, placeholder: "iOS, Windows, etc" %>
<%= f.text_area :request, placeholder: "Dear Saint Nick..." %>
<%= f.submit "Request Griffmas Gift" %>
<% end %>
  </div>
</div>



